node-red/flows.json
[
    {
        "id": "e36b668a12db8bb5",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c027059c13cac823",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "25a105596d9fada6",
        "type": "ui-base",
        "name": "Vanguard Kids",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "dashboard",
        "navigationStyle": "icon",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": "1",
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "92e7e2b04d94e02b",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "31874df65fa676bc",
        "type": "ui-page",
        "name": "Seats",
        "ui": "25a105596d9fada6",
        "path": "/seats",
        "icon": "seat-passenger",
        "layout": "grid",
        "theme": "aaf608b9cd2bdab0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "d8f095af7c24e4e0",
        "type": "ui-group",
        "name": "Histórico dos Assentos ",
        "page": "83d1c78ab8d6b73c",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "history-container",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4342aa2013cfee5e",
        "type": "ui-page",
        "name": "MCU Status",
        "ui": "25a105596d9fada6",
        "path": "/mcu-status",
        "icon": "heart-pulse",
        "layout": "grid",
        "theme": "aaf608b9cd2bdab0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "83d1c78ab8d6b73c",
        "type": "ui-page",
        "name": "History",
        "ui": "25a105596d9fada6",
        "path": "/history",
        "icon": "database",
        "layout": "grid",
        "theme": "aaf608b9cd2bdab0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "aaf608b9cd2bdab0",
        "type": "ui-theme",
        "name": "Verde",
        "colors": {
            "surface": "#155e63",
            "primary": "#23877c",
            "bgPage": "#e9edef",
            "groupBg": "#f5f7f7",
            "groupOutline": "#c6d0d2"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "3e3785269ead2918",
        "type": "ui-page",
        "name": "Route Info",
        "ui": "25a105596d9fada6",
        "path": "/route",
        "icon": "map-marker-path",
        "layout": "grid",
        "theme": "aaf608b9cd2bdab0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "a20ac7b9301c957f",
        "type": "ui-group",
        "name": "Histórico das Rotas",
        "page": "83d1c78ab8d6b73c",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "history-container",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "35d0dc14adfc5a26",
        "type": "mqtt in",
        "z": "e36b668a12db8bb5",
        "name": "",
        "topic": "vanguard-kids/seats/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c027059c13cac823",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 120,
        "wires": [
            [
                "1b9c80a41279eb22"
            ]
        ]
    },
    {
        "id": "1e3f565339391307",
        "type": "mqtt in",
        "z": "e36b668a12db8bb5",
        "name": "",
        "topic": "vanguard-kids/heartbeat",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c027059c13cac823",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 340,
        "wires": [
            [
                "26867e5f464b28a7"
            ]
        ]
    },
    {
        "id": "6fbfe324298eb5a2",
        "type": "ui-chart",
        "z": "e36b668a12db8bb5",
        "group": "d8f095af7c24e4e0",
        "name": "Ocupação dos assentos",
        "label": "",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Hora",
        "xAxisProperty": "payload.ts_ms",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Ocupação",
        "yAxisProperty": "payload.occupied",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "1",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "12",
        "height": "7",
        "className": "history-card history-chart",
        "interpolation": "linear",
        "x": 870,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1b9c80a41279eb22",
        "type": "json",
        "z": "e36b668a12db8bb5",
        "name": "JSON Analyzer",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "7505c632b2bd7e6f"
            ]
        ]
    },
    {
        "id": "7505c632b2bd7e6f",
        "type": "function",
        "z": "e36b668a12db8bb5",
        "name": "Normalize Seat Message",
        "func": "let data = msg.payload;\n\n// Proteção caso a mensagem ainda esteja como string\nif (typeof data === \"string\") {\n    try {\n        data = JSON.parse(data);\n    } catch (error) {\n        node.error(\"Invalid JSON received\", msg);\n        return null;\n    }\n}\n\nif (\n    !data.client_id ||\n    !data.seat ||\n    data.ts === undefined ||\n    data.weight_g === undefined ||\n    data.occupied === undefined\n) {\n    node.warn(\"Incomplete seat message\");\n    return null;\n}\n\nconst epoch = Number(data.ts);\n\nif (!Number.isFinite(epoch) || epoch <= 0) {\n    node.warn(\"Invalid epoch timestamp\");\n    return null;\n}\n\n/*\n * ESP32 envia epoch em segundos.\n * JavaScript Date e ui-chart trabalham melhor com milissegundos.\n */\nconst epochMs = epoch < 1000000000000\n    ? epoch * 1000\n    : epoch;\n\nconst date = new Date(epochMs);\n\nif (Number.isNaN(date.getTime())) {\n    node.warn(\"Invalid date\");\n    return null;\n}\n\nconst brazilFormatter = new Intl.DateTimeFormat(\"pt-BR\", {\n    timeZone: \"America/Sao_Paulo\",\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    second: \"2-digit\",\n    hour12: false\n});\n\ndata.ts_seconds = Math.floor(epochMs / 1000);\ndata.ts_ms = epochMs;\ndata.datetime_brt = brazilFormatter.format(date);\n\n// Campos úteis para nós posteriores\nmsg.payload = data;\nmsg.timestamp = epochMs;\nmsg.seat = data.seat;\nmsg.topic = data.seat;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 120,
        "wires": [
            [
                "6fbfe324298eb5a2",
                "5b522b2a60e2d03a",
                "5ee367f76d046d14",
                "c0192d14c6ab4167"
            ]
        ]
    },
    {
        "id": "5b522b2a60e2d03a",
        "type": "debug",
        "z": "e36b668a12db8bb5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 40,
        "wires": []
    },
    {
        "id": "5ee367f76d046d14",
        "type": "function",
        "z": "e36b668a12db8bb5",
        "name": "Store Unique History",
        "func": "const data = msg.payload;\n\nif (\n    !data ||\n    !data.client_id ||\n    !data.seat ||\n    data.ts === undefined\n) {\n    node.warn(\"Invalid seat message\");\n    return null;\n}\n\n/*\n * Identificador da leitura.\n *\n * Incluímos todos os valores principais porque duas leituras\n * diferentes podem, em alguns casos, possuir o mesmo timestamp\n * em segundos.\n */\nconst eventKey = [\n    String(data.client_id),\n    String(data.seat),\n    String(data.ts),\n    String(data.adc_raw),\n    Number(data.voltage).toFixed(3),\n    Number(data.weight_g).toFixed(0),\n    data.occupied ? \"1\" : \"0\"\n].join(\"|\");\n\nlet history = flow.get(\"seatHistory\") || [];\nlet registeredEvents = flow.get(\"registeredSeatEvents\") || {};\n\n/*\n * A mensagem já foi processada.\n * Não envia nada para a tabela.\n */\nif (registeredEvents[eventKey]) {\n    node.warn(`Duplicate seat message ignored: ${eventKey}`);\n    return null;\n}\n\nconst epoch = Number(data.ts);\n\nconst epochMs = data.ts_ms !== undefined\n    ? Number(data.ts_ms)\n    : epoch * 1000;\n\nconst date = new Date(epochMs);\n\nconst formattedDate = data.datetime_brt ||\n    new Intl.DateTimeFormat(\"pt-BR\", {\n        timeZone: \"America/Sao_Paulo\",\n        day: \"2-digit\",\n        month: \"2-digit\",\n        year: \"numeric\",\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        second: \"2-digit\",\n        hour12: false\n    }).format(date);\n\nconst historyItem = {\n    event_id: eventKey,\n    client_id: String(data.client_id),\n    seat: String(data.seat),\n    status: data.occupied ? \"OCCUPIED\" : \"AVAILABLE\",\n    adc_raw: Number(data.adc_raw),\n    voltage: Number(data.voltage),\n    weight_g: Math.round(Number(data.weight_g)),\n    occupied: Boolean(data.occupied),\n    ts: epoch,\n    date_time: formattedDate\n};\n\nhistory.push(historyItem);\nregisteredEvents[eventKey] = true;\n\n/*\n * Mais recente primeiro.\n */\nhistory.sort((a, b) => b.ts - a.ts);\n\nflow.set(\"seatHistory\", history);\nflow.set(\"registeredSeatEvents\", registeredEvents);\n\n/*\n * Envia sempre o histórico completo como array.\n * Assim, a tabela substitui seu conteúdo, em vez de acrescentar\n * novamente registros que já estavam nela.\n */\nmsg.payload = history;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 160,
        "wires": [
            [
                "4e9f6f7ccabab5a1"
            ]
        ]
    },
    {
        "id": "3d2cb9defdf67083",
        "type": "ui-table",
        "z": "e36b668a12db8bb5",
        "group": "d8f095af7c24e4e0",
        "name": "Tabela de dados",
        "label": "",
        "order": 2,
        "width": "0",
        "height": "0",
        "maxrows": "8",
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Client ID",
                "key": "client_id",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Seat ID",
                "key": "seat",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Status",
                "key": "status",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "ADC Raw",
                "key": "adc_raw",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Voltage (V)",
                "key": "voltage",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Weight (g)",
                "key": "weight_g",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Occupied",
                "key": "occupied",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Date and Time",
                "key": "date_time",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Timestamp (epochs)",
                "key": "ts",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "history-table-card",
        "x": 1280,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "26867e5f464b28a7",
        "type": "json",
        "z": "e36b668a12db8bb5",
        "name": "JSON Analyzer",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 420,
        "y": 340,
        "wires": [
            [
                "d7c9e754e5e11f9c"
            ]
        ]
    },
    {
        "id": "d7c9e754e5e11f9c",
        "type": "function",
        "z": "e36b668a12db8bb5",
        "name": "Normalize Heartbeat",
        "func": "let data = msg.payload;\n\n// Proteção caso a mensagem ainda esteja como string\nif (typeof data === \"string\") {\n    try {\n        data = JSON.parse(data);\n    } catch (error) {\n        node.error(\"Invalid JSON received\", msg);\n        return null;\n    }\n}\n\nif (\n    !data ||\n    !data.client_id ||\n    data.ts === undefined ||\n    data.seats === undefined\n) {\n    node.warn(\"Invalid heartbeat message\");\n    return null;\n}\n\nconst epoch = Number(data.ts);\n\nif (!Number.isFinite(epoch) || epoch <= 0) {\n    node.warn(\"Invalid heartbeat timestamp\");\n    return null;\n}\n\n// ESP32 envia epoch em segundos.\n// JavaScript Date trabalha com milissegundos.\nconst epochMs = epoch < 1000000000000\n    ? epoch * 1000\n    : epoch;\n\nconst date = new Date(epochMs);\n\nconst formattedDate = new Intl.DateTimeFormat(\"pt-BR\", {\n    timeZone: \"America/Sao_Paulo\",\n    day: \"2-digit\",\n    month: \"2-digit\",\n    year: \"numeric\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    second: \"2-digit\",\n    hour12: false\n}).format(date);\n\nmsg.payload = {\n    online: true,\n    status: \"ONLINE\",\n    client_id: data.client_id,\n    seats: Number(data.seats),\n    ts: epoch,\n    ts_ms: epochMs,\n    last_seen: formattedDate\n};\n\nflow.set(\"lastHeartbeat\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 340,
        "wires": [
            [
                "e739b4036a57fe16",
                "584f188affeb120a"
            ]
        ]
    },
    {
        "id": "e739b4036a57fe16",
        "type": "trigger",
        "z": "e36b668a12db8bb5",
        "name": "Check Heartbeat",
        "op1": "",
        "op2": "OFFLINE",
        "op1type": "nul",
        "op2type": "str",
        "duration": "40",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "topic",
        "topic": "topic",
        "outputs": 1,
        "x": 830,
        "y": 380,
        "wires": [
            [
                "584f188affeb120a"
            ]
        ]
    },
    {
        "id": "97badfebe57536e3",
        "type": "ui-template",
        "z": "e36b668a12db8bb5",
        "group": "",
        "page": "4342aa2013cfee5e",
        "ui": "",
        "name": "Hearbeat & Safety Card",
        "order": 1,
        "width": "0",
        "height": "0",
        "head": "",
        "format": "<template>\n    <div\n        class=\"heartbeat-card\"\n        :class=\"cardState\"\n    >\n        <div class=\"card-header\">\n            <div>\n                <div class=\"card-title\">\n                    ESP32 Status & Safety\n                </div>\n\n                <div class=\"card-subtitle\">\n                    MQTT heartbeat and seat occupancy monitoring\n                </div>\n            </div>\n\n            <div\n                class=\"status-badge\"\n                :class=\"badgeClass\"\n            >\n                <span class=\"status-dot\"></span>\n\n                {{ statusText }}\n            </div>\n        </div>\n\n        <div class=\"card-content\">\n            <div class=\"information-row\">\n                <span class=\"label\">\n                    Client ID\n                </span>\n\n                <span class=\"value\">\n                    {{ payload.client_id || \"—\" }}\n                </span>\n            </div>\n\n            <div class=\"information-row\">\n                <span class=\"label\">\n                    Configured seats\n                </span>\n\n                <span class=\"value\">\n                    {{ payload.seats ?? \"—\" }}\n                </span>\n            </div>\n\n            <div class=\"information-row\">\n                <span class=\"label\">\n                    Occupied seats\n                </span>\n\n                <span class=\"value\">\n                    {{ payload.occupied_count ?? 0 }}\n                </span>\n            </div>\n\n            <div class=\"information-row\">\n                <span class=\"label\">\n                    Last heartbeat\n                </span>\n\n                <span class=\"value\">\n                    {{\n                        payload.last_seen ||\n                        \"Waiting for heartbeat\"\n                    }}\n                </span>\n            </div>\n\n            <div class=\"information-row\">\n                <span class=\"label\">\n                    Epoch timestamp\n                </span>\n\n                <span class=\"value timestamp\">\n                    {{ payload.ts || \"—\" }}\n                </span>\n            </div>\n        </div>\n\n        <!-- Waiting for the first heartbeat -->\n        <div\n            v-if=\"isWaiting\"\n            class=\"heartbeat-normal-message\"\n        >\n            {{ normalMessage }}\n        </div>\n\n        <!-- Critical: offline with occupied seats -->\n        <div\n            v-else-if=\"isCritical\"\n            class=\"critical-warning\"\n        >\n            <div class=\"critical-header\">\n                <div class=\"critical-icon\">\n                    !\n                </div>\n\n                <div>\n                    <div class=\"critical-title\">\n                        VEHICLE SAFETY ALERT\n                    </div>\n\n                    <div class=\"critical-message\">\n                        The ESP32 is offline and\n                        {{ payload.occupied_count }}\n                        seat(s) were last reported as occupied.\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"occupied-seats\">\n                <span\n                    v-for=\"seat in occupiedSeats\"\n                    :key=\"seat\"\n                    class=\"seat-chip\"\n                >\n                    {{ formatSeat(seat) }}\n                </span>\n            </div>\n\n            <div class=\"critical-instruction\">\n                Check the vehicle immediately.\n            </div>\n        </div>\n\n        <!-- Offline without occupied seats -->\n        <div\n            v-else-if=\"isOffline\"\n            class=\"offline-warning\"\n        >\n            No heartbeat has been received within the expected\n            interval. No occupied seats were last reported.\n        </div>\n\n        <!-- Online without active alerts -->\n        <div\n            v-else\n            class=\"heartbeat-normal-message\"\n        >\n            {{ normalMessage }}\n        </div>\n    </div>\n</template>\n\n<script>\nexport default {\n    computed: {\n        payload() {\n            return this.msg?.payload || {};\n        },\n\n        isWaiting() {\n            return (\n                !this.msg ||\n                !this.msg.payload ||\n                typeof this.payload.online !== \"boolean\"\n            );\n        },\n\n        isOffline() {\n            return (\n                !this.isWaiting &&\n                this.payload.online === false\n            );\n        },\n\n        isCritical() {\n            return this.payload.critical_alert === true;\n        },\n\n        occupiedSeats() {\n            return Array.isArray(\n                this.payload.occupied_seats\n            )\n                ? this.payload.occupied_seats\n                : [];\n        },\n\n        cardState() {\n            if (this.isCritical) {\n                return \"critical\";\n            }\n\n            if (this.isWaiting) {\n                return \"waiting\";\n            }\n\n            return this.payload.online\n                ? \"online\"\n                : \"offline\";\n        },\n\n        badgeClass() {\n            if (this.isCritical) {\n                return \"critical-badge\";\n            }\n\n            if (this.isWaiting) {\n                return \"waiting-badge\";\n            }\n\n            return this.payload.online\n                ? \"online-badge\"\n                : \"offline-badge\";\n        },\n\n        statusText() {\n            if (this.isCritical) {\n                return \"CRITICAL\";\n            }\n\n            if (this.isWaiting) {\n                return \"WAITING\";\n            }\n\n            return (\n                this.payload.status ||\n                (\n                    this.payload.online\n                        ? \"ONLINE\"\n                        : \"OFFLINE\"\n                )\n            );\n        },\n\n        normalMessage() {\n            if (this.isWaiting) {\n                return \"Waiting for the first heartbeat update.\";\n            }\n\n            return \"ESP32 is online and no safety alert is active.\";\n        }\n    },\n\n    methods: {\n        formatSeat(value) {\n            const seat = String(value || \"\");\n            const match = seat.match(/seat-(\\d+)/i);\n\n            if (match) {\n                return `Seat ${Number(match[1])}`;\n            }\n\n            return seat;\n        }\n    }\n};\n</script>\n\n<style scoped>\n.heartbeat-card {\n    width: calc(100% - 32px);\n    max-width: 900px;\n    min-height: 210px;\n\n    margin: 24px auto;\n    padding: 20px;\n\n    border: 2px solid;\n    border-radius: 14px;\n\n    box-sizing: border-box;\n\n    transition:\n        border-color 0.3s ease,\n        background-color 0.3s ease,\n        box-shadow 0.3s ease;\n}\n\n/* =========================================================\n   CARD STATES\n   ========================================================= */\n\n.heartbeat-card.online {\n    border-color: #2e7d32;\n    background-color: rgba(46, 125, 50, 0.08);\n}\n\n.heartbeat-card.offline {\n    border-color: #c62828;\n    background-color: rgba(198, 40, 40, 0.08);\n}\n\n.heartbeat-card.waiting {\n    border-color: #757575;\n    background-color: rgba(117, 117, 117, 0.08);\n}\n\n.heartbeat-card.critical {\n    border-color: #b71c1c;\n    background-color: rgba(198, 40, 40, 0.13);\n\n    box-shadow:\n        0 4px 16px rgba(183, 28, 28, 0.20);\n}\n\n/* =========================================================\n   HEADER\n   ========================================================= */\n\n.card-header {\n    display: flex;\n    align-items: flex-start;\n    justify-content: space-between;\n\n    gap: 16px;\n    margin-bottom: 20px;\n}\n\n.card-title {\n    font-size: 1.25rem;\n    font-weight: 700;\n}\n\n.card-subtitle {\n    margin-top: 3px;\n\n    font-size: 0.85rem;\n    opacity: 0.7;\n}\n\n/* =========================================================\n   STATUS BADGE\n   ========================================================= */\n\n.status-badge {\n    display: flex;\n    align-items: center;\n    gap: 7px;\n\n    padding: 7px 11px;\n\n    border-radius: 20px;\n\n    font-size: 0.75rem;\n    font-weight: 700;\n}\n\n.online-badge {\n    color: #1b5e20;\n    background-color: rgba(76, 175, 80, 0.20);\n}\n\n.offline-badge {\n    color: #b71c1c;\n    background-color: rgba(244, 67, 54, 0.20);\n}\n\n.waiting-badge {\n    color: #424242;\n    background-color: rgba(158, 158, 158, 0.20);\n}\n\n.critical-badge {\n    color: #ffffff;\n    background-color: #b71c1c;\n}\n\n.status-dot {\n    width: 9px;\n    height: 9px;\n\n    border-radius: 50%;\n    background-color: currentColor;\n}\n\n/* =========================================================\n   INFORMATION\n   ========================================================= */\n\n.information-row {\n    display: flex;\n    justify-content: space-between;\n\n    gap: 16px;\n    padding: 8px 0;\n\n    border-bottom:\n        1px solid rgba(128, 128, 128, 0.20);\n}\n\n.information-row:last-child {\n    border-bottom: none;\n}\n\n.label {\n    font-size: 0.85rem;\n    opacity: 0.7;\n}\n\n.value {\n    font-weight: 600;\n    text-align: right;\n}\n\n.timestamp {\n    font-family: monospace;\n}\n\n/* =========================================================\n   NORMAL AND WAITING MESSAGE\n   ========================================================= */\n\n.heartbeat-normal-message {\n    margin-top: 16px;\n    padding: 11px 13px;\n\n    border-radius: 8px;\n\n    background-color:\n        rgba(128, 128, 128, 0.08);\n\n    font-size: 0.86rem;\n    line-height: 1.4;\n}\n\n/* =========================================================\n   OFFLINE WARNING\n   ========================================================= */\n\n.offline-warning {\n    margin-top: 16px;\n    padding: 10px 12px;\n\n    border-radius: 8px;\n\n    color: #b71c1c;\n    background-color: rgba(244, 67, 54, 0.12);\n\n    font-size: 0.85rem;\n    line-height: 1.4;\n}\n\n/* =========================================================\n   CRITICAL WARNING\n   ========================================================= */\n\n.critical-warning {\n    margin-top: 18px;\n    padding: 16px;\n\n    border:\n        1px solid rgba(183, 28, 28, 0.50);\n\n    border-radius: 10px;\n\n    color: #7f1010;\n    background-color: rgba(244, 67, 54, 0.16);\n}\n\n.critical-header {\n    display: flex;\n    align-items: center;\n    gap: 12px;\n}\n\n.critical-icon {\n    width: 40px;\n    height: 40px;\n    min-width: 40px;\n\n    display: flex;\n    align-items: center;\n    justify-content: center;\n\n    border-radius: 50%;\n\n    color: #ffffff;\n    background-color: #b71c1c;\n\n    font-size: 1.35rem;\n    font-weight: 800;\n}\n\n.critical-title {\n    font-size: 0.88rem;\n    font-weight: 800;\n    letter-spacing: 0.04rem;\n}\n\n.critical-message {\n    margin-top: 3px;\n\n    font-size: 0.86rem;\n    line-height: 1.4;\n}\n\n.occupied-seats {\n    display: flex;\n    flex-wrap: wrap;\n    gap: 8px;\n\n    margin-top: 14px;\n}\n\n.seat-chip {\n    padding: 6px 11px;\n\n    border: 1px solid #b71c1c;\n    border-radius: 999px;\n\n    background-color: rgba(255, 255, 255, 0.30);\n\n    font-size: 0.78rem;\n    font-weight: 700;\n}\n\n.critical-instruction {\n    margin-top: 14px;\n    padding-top: 12px;\n\n    border-top:\n        1px solid rgba(183, 28, 28, 0.30);\n\n    font-size: 0.86rem;\n    font-weight: 700;\n}\n\n/* =========================================================\n   RESPONSIVENESS\n   ========================================================= */\n\n@media (max-width: 700px) {\n    .heartbeat-card {\n        width: calc(100% - 20px);\n\n        margin: 12px auto;\n        padding: 16px;\n    }\n\n    .card-header {\n        align-items: flex-start;\n        flex-direction: column;\n    }\n\n    .information-row {\n        align-items: flex-start;\n        flex-direction: column;\n\n        gap: 3px;\n    }\n\n    .value {\n        text-align: left;\n    }\n\n    .critical-header {\n        align-items: flex-start;\n    }\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 1350,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "584f188affeb120a",
        "type": "function",
        "z": "e36b668a12db8bb5",
        "name": "Prepare Heartbeat & Safety Card",
        "func": "/*\n * Recover the last known heartbeat state.\n */\nlet heartbeat = flow.get(\"heartbeatCardState\") || {\n    online: null,\n    status: \"WAITING\",\n    client_id: \"—\",\n    seats: 4,\n    last_seen: \"Waiting for heartbeat\",\n    ts: null\n};\n\nconst input = msg.payload;\nconst isSeatUpdate = msg.topic === \"seat-update\";\n\nconst isOfflineEvent =\n    typeof input === \"string\" &&\n    input.toUpperCase() === \"OFFLINE\";\n\n/*\n * Update heartbeat data only for heartbeat events.\n * A seat update must not replace heartbeat information.\n */\nif (isOfflineEvent) {\n    heartbeat.online = false;\n    heartbeat.status = \"OFFLINE\";\n} else if (\n    !isSeatUpdate &&\n    input &&\n    typeof input === \"object\"\n) {\n    heartbeat = {\n        ...heartbeat,\n        ...input,\n        online: true,\n        status: \"ONLINE\"\n    };\n}\n\nflow.set(\"heartbeatCardState\", heartbeat);\n\n/*\n * Read the latest seat states from the flow context.\n */\nconst seatMap = flow.get(\"currentSeatMap\") || {};\n\nlet seats = [];\n\nif (Array.isArray(seatMap)) {\n    seats = seatMap;\n} else if (Array.isArray(seatMap.seats)) {\n    seats = seatMap.seats;\n} else {\n    seats = Object.values(seatMap).filter(\n        seat =>\n            seat &&\n            typeof seat === \"object\" &&\n            typeof seat.occupied === \"boolean\"\n    );\n}\n\nconst occupiedSeats = seats.filter(\n    seat => seat.occupied === true\n);\n\nconst occupiedNames = occupiedSeats.map(\n    seat =>\n        seat.name ||\n        seat.seat ||\n        seat.id ||\n        \"Unknown seat\"\n);\n\n/*\n * Critical condition:\n * ESP32 offline with one or more occupied seats.\n */\nconst criticalAlert =\n    heartbeat.online === false &&\n    occupiedNames.length > 0;\n\n/*\n * Output 1: card update.\n *\n * This output is generated for:\n * - heartbeat messages;\n * - offline events;\n * - seat state updates.\n */\nconst cardMessage = {\n    payload: {\n        ...heartbeat,\n\n        status: criticalAlert\n            ? \"CRITICAL\"\n            : heartbeat.status,\n\n        occupied_count: occupiedNames.length,\n        occupied_seats: occupiedNames,\n        critical_alert: criticalAlert\n    }\n};\n\n/*\n * Output 2: notification.\n * Avoid repeated notifications while the same alert is active.\n */\nconst alertWasActive =\n    flow.get(\"heartbeatSafetyAlertActive\") === true;\n\nlet notificationMessage = null;\n\nif (criticalAlert && !alertWasActive) {\n    const formattedSeats = occupiedNames\n        .map(formatSeat)\n        .join(\", \");\n\n\n    notificationMessage = {\n        payload: `\n            <div class=\"safety-notification-content\">\n                <div class=\"safety-notification-header\">\n                    <div class=\"safety-notification-icon\">!</div>\n\n                    <div>\n                        <div class=\"safety-notification-title\"> \n                            VEHICLE SAFETY ALERT\n                        </div>\n                        <div class=\"safety-notification-message\">\n                            The ESP32 is offline and ${occupiedNames.length} seat(s) were last reported as occupied.\n                        </div>\n                    </div>\n                </div>\n\n                <div class=\"safety-notification-seats\">\n                    ${occupiedNames\n                    .map(seat => `<span>${formatSeat(seat)}</span>`)\n                    .join(\"\")}\n                </div>\n\n                <div class=\"safety-notification-instruction\">\n                    Check the vehicle immediately.\n                </div>\n            </div >\n        `,\n\n        show: true,\n\n        ui_update: {\n            raw: true,\n            color: \"rgb(198, 40, 40)\",\n            position: \"top right\",\n            displayTime: 0,\n            allowDismiss: true,\n            dismissText: \"Dismiss\",\n            showCountdown: false\n        }\n    };\n\n}\n\n/*\n * Close the notification when the critical condition clears.\n */\nif (!criticalAlert && alertWasActive) {\n    notificationMessage = {\n        show: false\n    };\n}\n\nflow.set(\n    \"heartbeatSafetyAlertActive\",\n    criticalAlert\n);\n\nreturn [\n    cardMessage,\n    notificationMessage\n];\n\nfunction formatSeat(value) {\n    const seat = String(value || \"\");\n    const match = seat.match(/seat-(\\d+)/i);\n\n    if (match) {\n        return `Seat ${Number(match[1])}`;\n    }\n\n    return seat;\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 340,
        "wires": [
            [
                "97badfebe57536e3",
                "283d70aaf56a09fc"
            ],
            [
                "8ffca381e93bf942"
            ]
        ]
    },
    {
        "id": "283d70aaf56a09fc",
        "type": "debug",
        "z": "e36b668a12db8bb5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 280,
        "wires": []
    },
    {
        "id": "4e9f6f7ccabab5a1",
        "type": "function",
        "z": "e36b668a12db8bb5",
        "name": "Format History Table",
        "func": "if (!Array.isArray(msg.payload)) {\n    node.warn(\"History payload must be an array\");\n    return null;\n}\n\nmsg.payload = msg.payload.map(item => ({\n    client_id: item.client_id,\n    seat: item.seat,\n    status: item.status,\n    adc_raw: Number(item.adc_raw),\n    voltage: Number(Number(item.voltage).toFixed(2)),\n    weight_g: Math.round(Number(item.weight_g)),\n    occupied: Boolean(item.occupied),\n    ts: Number(item.ts),\n    date_time: item.date_time\n}));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 160,
        "wires": [
            [
                "3d2cb9defdf67083"
            ]
        ]
    },
    {
        "id": "c0192d14c6ab4167",
        "type": "function",
        "z": "e36b668a12db8bb5",
        "name": "Update Current Seat Map",
        "func": "const SEAT_IDS = [\n    \"seat-01\",\n    \"seat-02\",\n    \"seat-03\",\n    \"seat-04\"\n];\n\nconst data = msg.payload;\n\nif (!data || typeof data !== \"object\" || !data.seat) {\n    node.warn(\"Invalid seat message\");\n    return null;\n}\n\nif (!SEAT_IDS.includes(data.seat)) {\n    node.warn(`Unknown seat: ${data.seat}`);\n    return null;\n}\n\nlet currentSeats = flow.get(\"currentSeatMap\") || {};\n\n/*\n * Inicializa os quatro assentos para que todos apareçam\n * antes mesmo da primeira mensagem de cada sensor.\n */\nfor (const seatId of SEAT_IDS) {\n    if (!currentSeats[seatId]) {\n        currentSeats[seatId] = {\n            client_id: null,\n            seat: seatId,\n            received: false,\n            adc_raw: 0,\n            voltage: 0,\n            weight_g: 0,\n            occupied: false,\n            ts: null,\n            ts_seconds: null,\n            ts_ms: null,\n            datetime_brt: \"Waiting for data\"\n        };\n    }\n}\n\n/*\n * Atualiza somente o assento informado pela mensagem.\n * Os demais mantêm o último estado recebido.\n */\ncurrentSeats[data.seat] = {\n    client_id: String(data.client_id),\n    seat: String(data.seat),\n    received: true,\n    adc_raw: Number(data.adc_raw),\n    voltage: Number(data.voltage),\n    weight_g: Number(data.weight_g),\n    occupied: Boolean(data.occupied),\n    ts: Number(data.ts),\n    ts_seconds: Number(data.ts_seconds),\n    ts_ms: Number(data.ts_ms),\n    datetime_brt: String(data.datetime_brt)\n};\n\nflow.set(\"currentSeatMap\", currentSeats);\n\nconst seats = SEAT_IDS.map(seatId => {\n    const seat = currentSeats[seatId];\n\n    return {\n        ...seat,\n        status: !seat.received\n            ? \"WAITING\"\n            : seat.occupied\n                ? \"OCCUPIED\"\n                : \"AVAILABLE\"\n    };\n});\n\nmsg.payload = {\n    client_id: data.client_id,\n    seats,\n    occupied: seats.filter(\n        seat => seat.received && seat.occupied\n    ).length,\n    available: seats.filter(\n        seat => seat.received && !seat.occupied\n    ).length,\n    waiting: seats.filter(\n        seat => !seat.received\n    ).length,\n    total: SEAT_IDS.length\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 200,
        "wires": [
            [
                "ed594a5b7f2d83c0",
                "abac25f4d3638634"
            ]
        ]
    },
    {
        "id": "ed594a5b7f2d83c0",
        "type": "ui-template",
        "z": "e36b668a12db8bb5",
        "group": "",
        "page": "31874df65fa676bc",
        "ui": "",
        "name": "Seats Map",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <div class=\"seat-dashboard\">\n\n        <!-- Dados já recebidos -->\n        <div v-if=\"msg && msg.payload\">\n            <div class=\"summary\">\n                <div class=\"summary-card\">\n                    <span class=\"summary-value\">\n                        {{ msg.payload.occupied }}\n                    </span>\n                    <span class=\"summary-label\">Occupied</span>\n                </div>\n\n                <div class=\"summary-card\">\n                    <span class=\"summary-value\">\n                        {{ msg.payload.available }}\n                    </span>\n                    <span class=\"summary-label\">Available</span>\n                </div>\n\n                <div class=\"summary-card\">\n                    <span class=\"summary-value\">\n                        {{ msg.payload.waiting }}\n                    </span>\n                    <span class=\"summary-label\">Waiting</span>\n                </div>\n\n                <div class=\"summary-card\">\n                    <span class=\"summary-value\">\n                        {{ msg.payload.total }}\n                    </span>\n                    <span class=\"summary-label\">Total</span>\n                </div>\n            </div>\n\n            <div class=\"vehicle\">\n                <div class=\"vehicle-header\">\n                    <div class=\"vehicle-title\">Current Seat Map</div>\n\n                    <div class=\"vehicle-client\">\n                        Client:\n                        <strong>\n                            {{ msg.payload.client_id || \"Unknown\" }}\n                        </strong>\n                    </div>\n                </div>\n\n                <div class=\"vehicle-front\">\n                    VEHICLE FRONT\n                </div>\n\n                <div class=\"seat-grid\">\n                    <div v-for=\"seat in msg.payload.seats\" :key=\"seat.seat\" class=\"seat-card\" :class=\"{\n                            occupied: seat.status === 'OCCUPIED',\n                            available: seat.status === 'AVAILABLE',\n                            waiting: seat.status === 'WAITING'\n                        }\">\n                        <div class=\"seat-header\">\n                            <span class=\"seat-name\">\n                                {{ seat.seat.toUpperCase() }}\n                            </span>\n\n                            <span\n                                class=\"status-badge\"\n                                :class=\"seat.status.toLowerCase()\"\n                            >\n                                {{ seat.status }}\n                            </span>\n                        </div>\n\n                        <div class=\"seat-indicator\">\n                            <span v-if=\"seat.status === 'OCCUPIED'\">●</span>\n                            <span v-else-if=\"seat.status === 'AVAILABLE'\">○</span>\n                            <span v-else>—</span>\n                        </div>\n\n                        <div v-if=\"seat.received\" class=\"seat-data\">\n                            <div class=\"data-row\">\n                                <span>Weight</span>\n                                <strong>\n                                    {{ Math.round(seat.weight_g) }} g\n                                </strong>\n                            </div>\n\n                            <div class=\"data-row\">\n                                <span>Voltage</span>\n                                <strong>\n                                    {{ Number(seat.voltage).toFixed(2) }} V\n                                </strong>\n                            </div>\n\n                            <div class=\"data-row\">\n                                <span>ADC Raw</span>\n                                <strong>{{ seat.adc_raw }}</strong>\n                            </div>\n\n                            <div class=\"data-row\">\n                                <span>Last change</span>\n                                <strong>{{ seat.datetime_brt }}</strong>\n                            </div>\n                        </div>\n\n                        <div v-else class=\"waiting-message\">\n                            Waiting for the first seat event\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n\n        <!-- Nenhuma mensagem recebida ainda -->\n        <div v-else>\n            <div class=\"summary\">\n                <div class=\"summary-card\">\n                    <span class=\"summary-value\">0</span>\n                    <span class=\"summary-label\">Occupied</span>\n                </div>\n\n                <div class=\"summary-card\">\n                    <span class=\"summary-value\">0</span>\n                    <span class=\"summary-label\">Available</span>\n                </div>\n\n                <div class=\"summary-card\">\n                    <span class=\"summary-value\">4</span>\n                    <span class=\"summary-label\">Waiting</span>\n                </div>\n\n                <div class=\"summary-card\">\n                    <span class=\"summary-value\">4</span>\n                    <span class=\"summary-label\">Total</span>\n                </div>\n            </div>\n\n            <div class=\"vehicle\">\n                <div class=\"vehicle-header\">\n                    <div class=\"vehicle-title\">Current Seat Map</div>\n\n                    <div class=\"vehicle-client\">\n                        Client: <strong>Unknown</strong>\n                    </div>\n                </div>\n\n                <div class=\"vehicle-front\">\n                    VEHICLE FRONT\n                </div>\n\n                <div class=\"seat-grid\">\n                    <div v-for=\"seatId in [\n                            'seat-01',\n                            'seat-02',\n                            'seat-03',\n                            'seat-04'\n                        ]\" :key=\"seatId\" class=\"seat-card waiting\">\n                        <div class=\"seat-header\">\n                            <span class=\"seat-name\">\n                                {{ seatId.toUpperCase() }}\n                            </span>\n\n                            <span class=\"status-badge waiting\">\n                                WAITING\n                            </span>\n                        </div>\n\n                        <div class=\"seat-indicator\">\n                            —\n                        </div>\n\n                        <div class=\"waiting-message\">\n                            Waiting for the first seat event\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n\n    </div>\n</template>\n\n<style scoped>\n.seat-dashboard {\n    width: 100%;\n    max-width: 1200px;\n    margin: 0 auto;\n    padding: 24px 32px;\n    box-sizing: border-box;\n}\n\n.summary {\n    display: grid;\n    grid-template-columns: repeat(4, minmax(0, 1fr));\n    gap: 10px;\n    margin-bottom: 16px;\n}\n\n.summary-card {\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n    padding: 12px;\n    border: 1px solid rgba(128, 128, 128, 0.25);\n    border-radius: 10px;\n    background: rgba(128, 128, 128, 0.06);\n}\n\n.summary-value {\n    font-size: 1.6rem;\n    font-weight: 700;\n}\n\n.summary-label {\n    margin-top: 3px;\n    font-size: 0.75rem;\n    opacity: 0.7;\n}\n\n.vehicle {\n    padding: 16px;\n    border: 2px solid rgba(128, 128, 128, 0.3);\n    border-radius: 18px;\n}\n\n.vehicle-header {\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    gap: 12px;\n    margin-bottom: 12px;\n}\n\n.vehicle-title {\n    font-size: 1.1rem;\n    font-weight: 700;\n}\n\n.vehicle-client {\n    font-size: 0.8rem;\n    opacity: 0.75;\n}\n\n.vehicle-front {\n    margin-bottom: 14px;\n    padding: 8px;\n    border-radius: 8px;\n    text-align: center;\n    font-size: 0.72rem;\n    font-weight: 700;\n    letter-spacing: 0.12rem;\n    background: rgba(128, 128, 128, 0.12);\n}\n\n.seat-grid {\n    display: grid;\n    grid-template-columns: repeat(2, minmax(0, 1fr));\n    gap: 14px;\n}\n\n.seat-card {\n    min-height: 225px;\n    padding: 16px;\n    border: 2px solid;\n    border-radius: 14px;\n    box-sizing: border-box;\n}\n\n.seat-card.occupied {\n    border-color: #c62828;\n    background: rgba(198, 40, 40, 0.09);\n}\n\n.seat-card.available {\n    border-color: #2e7d32;\n    background: rgba(46, 125, 50, 0.09);\n}\n\n.seat-card.waiting {\n    border-color: #757575;\n    background: rgba(117, 117, 117, 0.08);\n}\n\n.seat-header {\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    gap: 10px;\n}\n\n.seat-name {\n    font-weight: 700;\n}\n\n.status-badge {\n    padding: 5px 8px;\n    border-radius: 14px;\n    font-size: 0.65rem;\n    font-weight: 700;\n}\n\n.status-badge.occupied {\n    color: #b71c1c;\n    background: rgba(244, 67, 54, 0.18);\n}\n\n.status-badge.available {\n    color: #1b5e20;\n    background: rgba(76, 175, 80, 0.18);\n}\n\n.status-badge.waiting {\n    color: #424242;\n    background: rgba(158, 158, 158, 0.2);\n}\n\n.seat-indicator {\n    margin: 14px 0;\n    text-align: center;\n    font-size: 2.8rem;\n}\n\n.data-row {\n    display: flex;\n    justify-content: space-between;\n    gap: 12px;\n    padding: 6px 0;\n    border-bottom: 1px solid rgba(128, 128, 128, 0.18);\n    font-size: 0.78rem;\n}\n\n.data-row:last-child {\n    border-bottom: none;\n}\n\n.data-row span {\n    opacity: 0.7;\n}\n\n.data-row strong {\n    text-align: right;\n}\n\n.waiting-message,\n.loading-message {\n    padding: 22px;\n    text-align: center;\n    opacity: 0.65;\n}\n\n@media (max-width: 700px) {\n    .summary {\n        grid-template-columns: repeat(2, 1fr);\n    }\n\n    .seat-grid {\n        grid-template-columns: 1fr;\n    }\n\n    .vehicle-header {\n        align-items: flex-start;\n        flex-direction: column;\n    }\n\n    .seat-dashboard {\n        padding: 16px;\n    }\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 1070,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "611b8806ab9ee9ee",
        "type": "ui-template",
        "z": "e36b668a12db8bb5",
        "group": "",
        "page": "83d1c78ab8d6b73c",
        "ui": "",
        "name": "Table and Chart Styles",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "/* =========================================================\n   CORES COMPARTILHADAS\n   ========================================================= */\n\n.nrdb-ui-group.history-container {\n    --history-card-bg: rgba(255, 255, 255, 0.35);\n    --history-border: rgba(128, 128, 128, 0.30);\n    --history-divider: rgba(128, 128, 128, 0.20);\n    --history-hover: rgba(128, 128, 128, 0.08);\n\n    grid-column: 1 / -1 !important;\n\n    width: min(85vw, 1350px) !important;\n    max-width: none !important;\n\n    margin: 20px auto !important;\n    justify-self: center !important;\n\n    box-sizing: border-box;\n}\n\n/* Remove o fundo externo do grupo */\n.nrdb-ui-group.history-container > .v-card {\n    background: transparent !important;\n    border: none !important;\n    box-shadow: none !important;\n}\n\n/* =========================================================\n   CARD BASE: GRÁFICO E TABELA\n   ========================================================= */\n\n.history-card,\n.history-table-card {\n    width: 100% !important;\n    margin: 0 0 18px 0 !important;\n\n    background-color: var(--history-card-bg) !important;\n\n    border: 1px solid var(--history-border) !important;\n    border-radius: 14px !important;\n\n    box-sizing: border-box !important;\n    overflow: hidden !important;\n\n    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04) !important;\n\n    transition:\n        border-color 0.25s ease,\n        box-shadow 0.25s ease;\n}\n\n/* =========================================================\n   GRÁFICO\n   ========================================================= */\n\n.history-chart {\n    min-height: 330px;\n    padding: 14px !important;\n}\n\n/* =========================================================\n   TABELA: CONTÊINERES INTERNOS\n   Todos transparentes para exibir o fundo do card\n   ========================================================= */\n\n.history-table-card > .v-card,\n.history-table-card .v-card,\n.history-table-card .v-data-table,\n.history-table-card .v-table,\n.history-table-card .v-table__wrapper,\n.history-table-card .v-data-table__wrapper {\n    width: 100% !important;\n\n    color: rgb(var(--v-theme-on-background)) !important;\n    background: transparent !important;\n\n    border: none !important;\n    box-shadow: none !important;\n}\n\n.history-table-card .v-table__wrapper,\n.history-table-card .v-data-table__wrapper {\n    overflow-x: auto;\n}\n\n/* =========================================================\n   PESQUISA\n   ========================================================= */\n\n.history-table-card .v-input,\n.history-table-card .v-input__control,\n.history-table-card .v-field,\n.history-table-card .v-field__field,\n.history-table-card .v-field__input,\n.history-table-card .v-field__outline,\n.history-table-card .v-field__loader {\n    color: inherit !important;\n    background: transparent !important;\n}\n\n.history-table-card .v-field__overlay {\n    background: transparent !important;\n    opacity: 0 !important;\n}\n\n.history-table-card .v-field {\n    border-bottom: 1px solid var(--history-divider) !important;\n    box-shadow: none !important;\n}\n\n.history-table-card .v-input:first-child .v-field {\n    border-top-left-radius: 14px !important;\n    border-top-right-radius: 14px !important;\n}\n\n/* =========================================================\n   CABEÇALHO\n   ========================================================= */\n\n.history-table-card thead,\n.history-table-card thead tr,\n.history-table-card thead th {\n    color: inherit !important;\n    background: transparent !important;\n}\n\n.history-table-card thead th {\n    font-weight: 700 !important;\n    border-bottom: 1px solid var(--history-border) !important;\n}\n\n/* =========================================================\n   CORPO DA TABELA\n   ========================================================= */\n\n.history-table-card tbody,\n.history-table-card tbody tr,\n.history-table-card tbody td {\n    color: inherit !important;\n    background: transparent !important;\n}\n\n.history-table-card tbody td {\n    border-bottom: 1px solid var(--history-divider) !important;\n    transition: background-color 0.2s ease;\n}\n\n/* Hover discreto, sem alterar permanentemente o fundo */\n.history-table-card tbody tr:hover,\n.history-table-card tbody tr:hover td {\n    background-color: var(--history-hover) !important;\n}\n\n.history-table-card tbody tr:last-child td {\n    border-bottom: none !important;\n}\n\n/* =========================================================\n   RODAPÉ E PAGINAÇÃO\n   ========================================================= */\n\n.history-table-card .v-data-table-footer,\n.history-table-card .v-data-table-footer *,\n.history-table-card .v-data-table-footer .v-input,\n.history-table-card .v-data-table-footer .v-field,\n.history-table-card .v-data-table-footer .v-field__field,\n.history-table-card .v-data-table-footer .v-field__input {\n    color: inherit !important;\n    background: transparent !important;\n}\n\n.history-table-card .v-data-table-footer {\n    border-top: 1px solid var(--history-divider) !important;\n}\n\n.history-table-card .v-data-table-footer .v-field__overlay {\n    background: transparent !important;\n    opacity: 0 !important;\n}\n\n.history-table-card button,\n.history-table-card .v-btn {\n    color: inherit !important;\n    background: transparent !important;\n}\n\n/* =========================================================\n   INTERAÇÃO\n   ========================================================= */\n\n.history-card:hover,\n.history-table-card:hover {\n    border-color: rgba(128, 128, 128, 0.45) !important;\n    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08) !important;\n}\n\n/* =========================================================\n   RESPONSIVIDADE\n   ========================================================= */\n\n@media (max-width: 900px) {\n    .nrdb-ui-group.history-container {\n        width: calc(100% - 24px) !important;\n        margin: 12px auto !important;\n    }\n\n    .history-table-card {\n        margin-bottom: 12px !important;\n        border-radius: 10px !important;\n    }\n\n    .history-table-card .v-input:first-child .v-field {\n        border-top-left-radius: 10px !important;\n        border-top-right-radius: 10px !important;\n    }\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 860,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f080134adde4d054",
        "type": "mqtt in",
        "z": "e36b668a12db8bb5",
        "name": "",
        "topic": "vanguard-kids/route",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c027059c13cac823",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 500,
        "wires": [
            [
                "8268ef5a83dbb0d7"
            ]
        ]
    },
    {
        "id": "abac25f4d3638634",
        "type": "change",
        "z": "e36b668a12db8bb5",
        "name": "Seat Update Event",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "seat-update",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 280,
        "wires": [
            [
                "584f188affeb120a"
            ]
        ]
    },
    {
        "id": "d852e1b81fc88e1e",
        "type": "function",
        "z": "e36b668a12db8bb5",
        "d": true,
        "name": "Prepare Heartbeat card",
        "func": "const lastHeartbeat = flow.get(\"lastHeartbeat\") || {\n    client_id: \"Unknown\",\n    seats: 0,\n    ts: null,\n    ts_ms: null,\n    last_seen: \"No heartbeat received\"\n};\n\n// Timeout gerado pelo Trigger\nif (msg.payload === \"OFFLINE\") {\n    msg.payload = {\n        ...lastHeartbeat,\n        online: false,\n        status: \"OFFLINE\"\n    };\n\n    return msg;\n}\n\n// Heartbeat normal\nif (\n    typeof msg.payload === \"object\" &&\n    msg.payload !== null\n) {\n    msg.payload = {\n        ...msg.payload,\n        online: true,\n        status: \"ONLINE\"\n    };\n\n    flow.set(\"lastHeartbeat\", msg.payload);\n\n    return msg;\n}\n\nnode.warn(`Unexpected payload: ${msg.payload}`);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "b952fc54ec3a80d9",
        "type": "ui-template",
        "z": "e36b668a12db8bb5",
        "d": true,
        "group": "",
        "page": "4342aa2013cfee5e",
        "ui": "",
        "name": "Hearbeat Card",
        "order": 1,
        "width": "0",
        "height": "0",
        "head": "",
        "format": "<template>\n    <div\n        class=\"heartbeat-card\"\n        :class=\"\n            !msg || !msg.payload\n                ? 'waiting'\n                : msg.payload.online\n                    ? 'online'\n                    : 'offline'\n        \"\n    >\n        <div class=\"card-header\">\n            <div>\n                <div class=\"card-title\">ESP32 Status</div>\n                <div class=\"card-subtitle\">\n                    MQTT heartbeat monitoring\n                </div>\n            </div>\n\n            <div\n                class=\"status-badge\"\n                :class=\"\n                    !msg || !msg.payload\n                        ? 'waiting-badge'\n                        : msg.payload.online\n                            ? 'online-badge'\n                            : 'offline-badge'\n                \"\n            >\n                <span class=\"status-dot\"></span>\n\n                {{\n                    !msg || !msg.payload\n                        ? \"WAITING\"\n                        : msg.payload.status\n                }}\n            </div>\n        </div>\n\n        <div class=\"card-content\">\n            <div class=\"information-row\">\n                <span class=\"label\">Client ID</span>\n                <span class=\"value\">\n                    {{\n                        msg && msg.payload\n                            ? msg.payload.client_id\n                            : \"—\"\n                    }}\n                </span>\n            </div>\n\n            <div class=\"information-row\">\n                <span class=\"label\">Configured seats</span>\n                <span class=\"value\">\n                    {{\n                        msg && msg.payload\n                            ? msg.payload.seats\n                            : \"—\"\n                    }}\n                </span>\n            </div>\n\n            <div class=\"information-row\">\n                <span class=\"label\">Last heartbeat</span>\n                <span class=\"value\">\n                    {{\n                        msg && msg.payload\n                            ? msg.payload.last_seen\n                            : \"Waiting for heartbeat\"\n                    }}\n                </span>\n            </div>\n\n            <div class=\"information-row\">\n                <span class=\"label\">Epoch timestamp</span>\n                <span class=\"value timestamp\">\n                    {{\n                        msg && msg.payload && msg.payload.ts\n                            ? msg.payload.ts\n                            : \"—\"\n                    }}\n                </span>\n            </div>\n        </div>\n\n        <div\n            v-if=\"msg && msg.payload && !msg.payload.online\"\n            class=\"offline-warning\"\n        >\n            No heartbeat has been received within the expected interval.\n        </div>\n    </div>\n</template>\n\n<style scoped>\n.heartbeat-card {\n    width: calc(100% - 32px);;\n    max-width: 900px;\n    min-height: 210px;\n    margin: 24px auto;\n    padding: 20px;\n    border: 2px solid;\n    border-radius: 14px;\n    box-sizing: border-box;\n    transition: border-color 0.3s ease,\n                background-color 0.3s ease;\n}\n\n.heartbeat-card.online {\n    border-color: #2e7d32;\n    background-color: rgba(46, 125, 50, 0.08);\n}\n\n.heartbeat-card.offline {\n    border-color: #c62828;\n    background-color: rgba(198, 40, 40, 0.08);\n}\n\n.heartbeat-card.waiting {\n    border-color: #757575;\n    background-color: rgba(117, 117, 117, 0.08);\n}\n\n.card-header {\n    display: flex;\n    align-items: flex-start;\n    justify-content: space-between;\n    gap: 16px;\n    margin-bottom: 20px;\n}\n\n.card-title {\n    font-size: 1.25rem;\n    font-weight: 700;\n}\n\n.card-subtitle {\n    margin-top: 3px;\n    font-size: 0.85rem;\n    opacity: 0.7;\n}\n\n.status-badge {\n    display: flex;\n    align-items: center;\n    gap: 7px;\n    padding: 7px 11px;\n    border-radius: 20px;\n    font-size: 0.75rem;\n    font-weight: 700;\n}\n\n.online-badge {\n    color: #1b5e20;\n    background-color: rgba(76, 175, 80, 0.2);\n}\n\n.offline-badge {\n    color: #b71c1c;\n    background-color: rgba(244, 67, 54, 0.2);\n}\n\n.waiting-badge {\n    color: #424242;\n    background-color: rgba(158, 158, 158, 0.2);\n}\n\n.status-dot {\n    width: 9px;\n    height: 9px;\n    border-radius: 50%;\n    background-color: currentColor;\n}\n\n.information-row {\n    display: flex;\n    justify-content: space-between;\n    gap: 16px;\n    padding: 8px 0;\n    border-bottom: 1px solid rgba(128, 128, 128, 0.2);\n}\n\n.information-row:last-child {\n    border-bottom: none;\n}\n\n.label {\n    font-size: 0.85rem;\n    opacity: 0.7;\n}\n\n.value {\n    font-weight: 600;\n    text-align: right;\n}\n\n.timestamp {\n    font-family: monospace;\n}\n\n.offline-warning {\n    margin-top: 16px;\n    padding: 10px;\n    border-radius: 8px;\n    color: #b71c1c;\n    background-color: rgba(244, 67, 54, 0.12);\n    font-size: 0.85rem;\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 1660,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8ffca381e93bf942",
        "type": "ui-notification",
        "z": "e36b668a12db8bb5",
        "ui": "25a105596d9fada6",
        "position": "top right",
        "colorDefault": false,
        "color": "#c62828",
        "displayTime": "0",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Dismiss",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": true,
        "className": "safety-notification",
        "name": "ESP32 Safety Alert",
        "x": 1330,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "bcbe56afdfef7760",
        "type": "ui-template",
        "z": "e36b668a12db8bb5",
        "group": "",
        "page": "",
        "ui": "25a105596d9fada6",
        "name": "Safety Notification Style",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "/* =========================================================\n   SAFETY NOTIFICATION\n   ========================================================= */\n\n/*\n * Seletores principais quando a classe definida no\n * ui-notification é aplicada ao componente.\n */\n.safety-notification .v-snackbar__wrapper,\n.safety-notification.v-snackbar .v-snackbar__wrapper,\n.nrdb-ui-notification.safety-notification\n.v-snackbar__wrapper,\n\n/*\n * Alternativa que identifica a notificação pelo conteúdo.\n * Útil em versões nas quais o campo Class não aparece\n * corretamente no elemento renderizado.\n */\n.nrdb-ui-notification:has(.safety-notification-content)\n.v-snackbar__wrapper {\n  width: min(560px, calc(100vw - 32px)) !important;\n  min-width: 0 !important;\n  max-width: 560px !important;\n\n  color: rgb(113, 20, 20) !important;\n  background-color: rgb(250, 232, 232) !important;\n\n  border: 2px solid rgb(198, 40, 40) !important;\n  border-radius: 14px !important;\n\n  box-shadow:\n    0 8px 24px rgba(198, 40, 40, 0.22) !important;\n\n  overflow: hidden !important;\n}\n\n/* Conteúdo interno do snackbar */\n.safety-notification .v-snackbar__content,\n.nrdb-ui-notification:has(.safety-notification-content)\n.v-snackbar__content {\n  padding: 18px 20px !important;\n\n  color: inherit !important;\n\n  font-size: 0.88rem !important;\n  line-height: 1.45 !important;\n}\n\n/* Estrutura do conteúdo */\n.safety-notification-content {\n  width: 100%;\n  box-sizing: border-box;\n}\n\n.safety-notification-header {\n  display: flex;\n  align-items: center;\n  gap: 12px;\n}\n\n.safety-notification-icon {\n  width: 40px;\n  height: 40px;\n  min-width: 40px;\n\n  display: flex;\n  align-items: center;\n  justify-content: center;\n\n  color: rgb(255, 255, 255);\n  background-color: rgb(198, 40, 40);\n\n  border-radius: 50%;\n\n  font-size: 1.3rem;\n  font-weight: 800;\n}\n\n.safety-notification-title {\n  font-size: 0.9rem;\n  font-weight: 800;\n  letter-spacing: 0.04rem;\n}\n\n.safety-notification-message {\n  margin-top: 3px;\n\n  font-size: 0.85rem;\n  line-height: 1.4;\n}\n\n/* Chips dos assentos */\n.safety-notification-seats {\n  display: flex;\n  flex-wrap: wrap;\n  gap: 7px;\n\n  margin-top: 14px;\n}\n\n.safety-notification-seats span {\n  padding: 5px 10px;\n\n  color: rgb(113, 20, 20);\n  background-color: rgba(255, 255, 255, 0.45);\n\n  border: 1px solid rgb(198, 40, 40);\n  border-radius: 999px;\n\n  font-size: 0.76rem;\n  font-weight: 700;\n}\n\n/* Instrução final */\n.safety-notification-instruction {\n  margin-top: 14px;\n  padding-top: 11px;\n\n  border-top:\n    1px solid rgba(198, 40, 40, 0.30);\n\n  font-size: 0.85rem;\n  font-weight: 700;\n}\n\n/* Área dos botões */\n.safety-notification .v-snackbar__actions,\n.nrdb-ui-notification:has(.safety-notification-content)\n.v-snackbar__actions {\n  padding: 8px 14px 12px !important;\n}\n\n/* Botão Dismiss */\n.safety-notification .v-snackbar__actions .v-btn,\n.nrdb-ui-notification:has(.safety-notification-content)\n.v-snackbar__actions .v-btn {\n  min-width: 84px !important;\n\n  color: rgb(255, 255, 255) !important;\n  background-color: rgb(198, 40, 40) !important;\n\n  border-radius: 8px !important;\n\n  font-size: 0.75rem !important;\n  font-weight: 700 !important;\n  text-transform: none !important;\n}\n\n/* Hover do botão */\n.safety-notification .v-snackbar__actions .v-btn:hover,\n.nrdb-ui-notification:has(.safety-notification-content)\n.v-snackbar__actions .v-btn:hover {\n  background-color: rgb(183, 28, 28) !important;\n}\n\n/* Responsividade */\n@media (max-width: 600px) {\n  .safety-notification .v-snackbar__wrapper,\n  .nrdb-ui-notification:has(.safety-notification-content)\n  .v-snackbar__wrapper {\n    width: calc(100vw - 20px) !important;\n    max-width: calc(100vw - 20px) !important;\n\n    border-radius: 12px !important;\n  }\n\n  .safety-notification .v-snackbar__content,\n  .nrdb-ui-notification:has(.safety-notification-content)\n  .v-snackbar__content {\n    padding: 15px !important;\n  }\n\n  .safety-notification-header {\n    align-items: flex-start;\n  }\n\n  .safety-notification-icon {\n    width: 34px;\n    height: 34px;\n    min-width: 34px;\n\n    font-size: 1.1rem;\n  }\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "site:style",
        "className": "",
        "x": 1350,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8268ef5a83dbb0d7",
        "type": "json",
        "z": "e36b668a12db8bb5",
        "name": "JSON Analyzer",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 380,
        "y": 500,
        "wires": [
            [
                "36648e1e191f08eb",
                "2ccdc69c7fda29e9"
            ]
        ]
    },
    {
        "id": "36648e1e191f08eb",
        "type": "function",
        "z": "e36b668a12db8bb5",
        "name": "Process Route Status",
        "func": "const REFRESH_TOPIC = \"route-refresh\";\n\nlet currentRoute = flow.get(\"currentRoute\") || null;\nconst isRefresh = msg.topic === REFRESH_TOPIC;\n\n/*\n * Mensagens MQTT atualizam a rota atual.\n * route-refresh apenas recupera o último estado armazenado.\n */\nif (!isRefresh) {\n  const data = msg.payload;\n\n  if (\n    !data ||\n    typeof data !== \"object\" ||\n    Array.isArray(data) ||\n    !data.name ||\n    data.stops === undefined ||\n    data.seats_occupied === undefined ||\n    data.ts === undefined ||\n    !data.state ||\n    data.block_alert === undefined\n  ) {\n    node.warn(\"Invalid route message\");\n    return [null, null];\n  }\n\n  const stops = Number(data.stops);\n  const occupiedSeats = Number(data.seats_occupied);\n  const timestamp = Number(data.ts);\n\n  if (\n    !Number.isFinite(stops) ||\n    !Number.isFinite(occupiedSeats) ||\n    !Number.isFinite(timestamp)\n  ) {\n    node.warn(\"Invalid numeric values in route message\");\n    return [null, null];\n  }\n\n  const blockAlert =\n    data.block_alert === true ||\n    String(data.block_alert).toLowerCase() === \"true\";\n\n  /*\n   * Aceita timestamps em segundos ou milissegundos.\n   */\n  const timestampMs =\n    timestamp < 1000000000000\n      ? timestamp * 1000\n      : timestamp;\n\n  const datetime = new Intl.DateTimeFormat(\n    \"pt-BR\",\n    {\n      timeZone: \"America/Sao_Paulo\",\n      day: \"2-digit\",\n      month: \"2-digit\",\n      year: \"numeric\",\n      hour: \"2-digit\",\n      minute: \"2-digit\",\n      second: \"2-digit\",\n      hour12: false\n    }\n  ).format(new Date(timestampMs));\n\n  currentRoute = {\n    name: String(data.name),\n    stops,\n    seats_occupied: occupiedSeats,\n    state: String(data.state),\n    block_alert: blockAlert,\n    alert_status: blockAlert ? \"ACTIVE\" : \"CLEAR\",\n    ts: timestamp,\n    datetime\n  };\n\n  flow.set(\"currentRoute\", currentRoute);\n}\n\n/* =========================================================\n   SAÍDA 1 — CARD\n   ========================================================= */\n\nconst cardMessage = {\n  topic: \"route-status\",\n  payload: currentRoute\n    ? {\n        ...currentRoute,\n        waiting: false\n      }\n    : {\n        waiting: true,\n        name: \"—\",\n        stops: 0,\n        seats_occupied: 0,\n        state: \"Waiting\",\n        block_alert: false,\n        alert_status: \"WAITING\",\n        ts: null,\n        datetime: \"Waiting for route data\"\n      }\n};\n\n/* =========================================================\n   SAÍDA 2 — NOTIFICAÇÃO\n   ========================================================= */\n\nconst alertActive =\n  currentRoute !== null &&\n  currentRoute.block_alert === true;\n\nconst alertWasActive =\n  flow.get(\"routeBlockAlertActive\") === true;\n\nlet notificationMessage = null;\n\n/*\n * Abre a notificação somente quando o alerta\n * muda de inativo para ativo.\n */\nif (alertActive && !alertWasActive) {\n  const routeName = escapeHtml(currentRoute.name);\n  const routeState = escapeHtml(currentRoute.state);\n\n  notificationMessage = {\n    topic: \"route-safety-alert\",\n\n    payload: `\n      <div class=\"safety-notification-content\">\n        <div class=\"safety-notification-header\">\n          <div class=\"safety-notification-icon\">!</div>\n\n          <div>\n            <div class=\"safety-notification-title\">\n              ROUTE SAFETY ALERT\n            </div>\n\n            <div class=\"safety-notification-message\">\n              The route \"${routeName}\" is blocked because\n              ${currentRoute.seats_occupied} seat(s) are still\n              reported as occupied.\n            </div>\n          </div>\n        </div>\n\n        <div class=\"safety-notification-seats\">\n          <span>\n            ${currentRoute.seats_occupied} occupied seat(s)\n          </span>\n\n          <span>\n            ${routeState}\n          </span>\n        </div>\n\n        <div class=\"safety-notification-instruction\">\n          Verify all passengers before completing the route.\n        </div>\n      </div>\n    `,\n\n    show: true,\n\n    ui_update: {\n      raw: true,\n      color: \"rgb(198, 40, 40)\",\n      position: \"top right\",\n      displayTime: 0,\n      allowDismiss: true,\n      dismissText: \"Dismiss\",\n      showCountdown: false\n    }\n  };\n}\n\n/*\n * Fecha a notificação quando block_alert volta para false.\n */\nif (!alertActive && alertWasActive) {\n  notificationMessage = {\n    topic: \"route-safety-alert\",\n    show: false\n  };\n}\n\nflow.set(\"routeBlockAlertActive\", alertActive);\n\nreturn [\n  cardMessage,\n  notificationMessage\n];\n\nfunction escapeHtml(value) {\n  const characters = {\n    \"&\": \"&amp;\",\n    \"<\": \"&lt;\",\n    \">\": \"&gt;\",\n    \"\\\"\": \"&quot;\",\n    \"'\": \"&#039;\"\n  };\n\n  return String(value).replace(\n    /[&<>\"']/g,\n    character => characters[character]\n  );\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 500,
        "wires": [
            [
                "a58a9a24e12f74cd"
            ],
            [
                "db3c6faa23159a73"
            ]
        ]
    },
    {
        "id": "a58a9a24e12f74cd",
        "type": "ui-template",
        "z": "e36b668a12db8bb5",
        "group": "",
        "page": "3e3785269ead2918",
        "ui": "",
        "name": "Route Status Card",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div\n    class=\"route-card\"\n    :class=\"cardClass\"\n  >\n    <div class=\"route-card-header\">\n      <div>\n        <div class=\"route-card-title\">\n          Route Status & Safety\n        </div>\n\n        <div class=\"route-card-subtitle\">\n          Route progress, occupancy and safety monitoring\n        </div>\n      </div>\n\n      <div\n        class=\"route-status-badge\"\n        :class=\"badgeClass\"\n      >\n        <span class=\"route-status-dot\"></span>\n\n        {{ statusText }}\n      </div>\n    </div>\n\n    <div class=\"route-card-content\">\n      <div class=\"route-information-row\">\n        <span class=\"route-label\">\n          Route name\n        </span>\n\n        <span class=\"route-value\">\n          {{ payload.name || \"—\" }}\n        </span>\n      </div>\n\n      <div class=\"route-information-row\">\n        <span class=\"route-label\">\n          Route state\n        </span>\n\n        <span class=\"route-value\">\n          {{ payload.state || \"—\" }}\n        </span>\n      </div>\n\n      <div class=\"route-information-row\">\n        <span class=\"route-label\">\n          Stops\n        </span>\n\n        <span class=\"route-value\">\n          {{ payload.stops ?? 0 }}\n        </span>\n      </div>\n\n      <div class=\"route-information-row\">\n        <span class=\"route-label\">\n          Occupied seats\n        </span>\n\n        <span class=\"route-value\">\n          {{ payload.seats_occupied ?? 0 }}\n        </span>\n      </div>\n\n      <div class=\"route-information-row\">\n        <span class=\"route-label\">\n          Last update\n        </span>\n\n        <span class=\"route-value\">\n          {{ payload.datetime || \"Waiting for route data\" }}\n        </span>\n      </div>\n\n      <div class=\"route-information-row\">\n        <span class=\"route-label\">\n          Epoch timestamp\n        </span>\n\n        <span class=\"route-value route-timestamp\">\n          {{ payload.ts || \"—\" }}\n        </span>\n      </div>\n    </div>\n\n    <div\n      v-if=\"isAlertActive\"\n      class=\"route-critical-alert\"\n    >\n      <div class=\"route-critical-header\">\n        <div class=\"route-critical-icon\">\n          !\n        </div>\n\n        <div>\n          <div class=\"route-critical-title\">\n            VEHICLE SAFETY ALERT\n          </div>\n\n          <div class=\"route-critical-message\">\n            This route is blocked because\n            {{ payload.seats_occupied }}\n            seat(s) are still reported as occupied.\n          </div>\n        </div>\n      </div>\n\n      <div class=\"route-critical-details\">\n        <span>\n          {{ payload.seats_occupied }} occupied seat(s)\n        </span>\n\n        <span>\n          {{ payload.state }}\n        </span>\n      </div>\n\n      <div class=\"route-critical-instruction\">\n        Verify all passengers before completing the route.\n      </div>\n    </div>\n\n    <div\n      v-else\n      class=\"route-normal-message\"\n    >\n      {{ normalMessage }}\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  computed: {\n    payload() {\n      return this.msg?.payload || {\n        waiting: true,\n        name: \"—\",\n        state: \"Waiting\",\n        stops: 0,\n        seats_occupied: 0,\n        block_alert: false,\n        datetime: \"Waiting for route data\",\n        ts: null\n      };\n    },\n\n    isWaiting() {\n      return this.payload.waiting === true;\n    },\n\n    isAlertActive() {\n      return this.payload.block_alert === true;\n    },\n\n    normalizedState() {\n      return String(\n        this.payload.state || \"\"\n      ).toLowerCase();\n    },\n\n    cardClass() {\n      if (this.isWaiting) {\n        return \"route-waiting\";\n      }\n\n      if (this.isAlertActive) {\n        return \"route-alert\";\n      }\n\n      if (this.normalizedState === \"completed\") {\n        return \"route-completed\";\n      }\n\n      if (this.normalizedState === \"in progress\") {\n        return \"route-in-progress\";\n      }\n\n      return \"route-neutral\";\n    },\n\n    badgeClass() {\n      return `${this.cardClass}-badge`;\n    },\n\n    statusText() {\n      if (this.isWaiting) {\n        return \"WAITING\";\n      }\n\n      if (this.isAlertActive) {\n        return \"BLOCKED\";\n      }\n\n      return String(\n        this.payload.state || \"UNKNOWN\"\n      ).toUpperCase();\n    },\n\n    normalMessage() {\n      if (this.isWaiting) {\n        return \"Waiting for the first route update.\";\n      }\n\n      if (this.normalizedState === \"completed\") {\n        return \"Route completed with no active safety block.\";\n      }\n\n      if (this.normalizedState === \"in progress\") {\n        return \"Route is in progress. No active safety block.\";\n      }\n\n      return \"No active route safety block.\";\n    }\n  }\n};\n</script>\n\n<style scoped>\n.route-card {\n  width: calc(100% - 32px);\n  max-width: 900px;\n  min-height: 250px;\n\n  margin: 24px auto;\n  padding: 20px;\n\n  border: 2px solid;\n  border-radius: 14px;\n\n  box-sizing: border-box;\n\n  transition:\n    border-color 0.3s ease,\n    background-color 0.3s ease,\n    box-shadow 0.3s ease;\n}\n\n/* States */\n\n.route-card.route-in-progress {\n  border-color: rgb(35, 135, 124);\n  background-color: rgba(35, 135, 124, 0.08);\n}\n\n.route-card.route-completed {\n  border-color: rgb(46, 125, 50);\n  background-color: rgba(46, 125, 50, 0.08);\n}\n\n.route-card.route-alert {\n  border-color: rgb(198, 40, 40);\n  background-color: rgba(198, 40, 40, 0.11);\n\n  box-shadow:\n    0 4px 16px rgba(198, 40, 40, 0.20);\n}\n\n.route-card.route-waiting,\n.route-card.route-neutral {\n  border-color: rgb(117, 117, 117);\n  background-color: rgba(117, 117, 117, 0.08);\n}\n\n/* Header */\n\n.route-card-header {\n  display: flex;\n  align-items: flex-start;\n  justify-content: space-between;\n\n  gap: 16px;\n  margin-bottom: 20px;\n}\n\n.route-card-title {\n  font-size: 1.25rem;\n  font-weight: 700;\n}\n\n.route-card-subtitle {\n  margin-top: 3px;\n\n  font-size: 0.85rem;\n  opacity: 0.7;\n}\n\n/* Badge */\n\n.route-status-badge {\n  display: flex;\n  align-items: center;\n  gap: 7px;\n\n  padding: 7px 11px;\n\n  border-radius: 20px;\n\n  font-size: 0.75rem;\n  font-weight: 700;\n}\n\n.route-in-progress-badge {\n  color: rgb(18, 82, 69);\n  background-color: rgba(35, 135, 124, 0.20);\n}\n\n.route-completed-badge {\n  color: rgb(27, 94, 32);\n  background-color: rgba(76, 175, 80, 0.20);\n}\n\n.route-alert-badge {\n  color: rgb(255, 255, 255);\n  background-color: rgb(198, 40, 40);\n}\n\n.route-waiting-badge,\n.route-neutral-badge {\n  color: rgb(66, 66, 66);\n  background-color: rgba(158, 158, 158, 0.20);\n}\n\n.route-status-dot {\n  width: 9px;\n  height: 9px;\n\n  border-radius: 50%;\n  background-color: currentColor;\n}\n\n/* Information */\n\n.route-information-row {\n  display: flex;\n  justify-content: space-between;\n\n  gap: 16px;\n  padding: 8px 0;\n\n  border-bottom:\n    1px solid rgba(128, 128, 128, 0.20);\n}\n\n.route-information-row:last-child {\n  border-bottom: none;\n}\n\n.route-label {\n  font-size: 0.85rem;\n  opacity: 0.7;\n}\n\n.route-value {\n  font-weight: 600;\n  text-align: right;\n}\n\n.route-timestamp {\n  font-family: monospace;\n}\n\n/* Normal message */\n\n.route-normal-message {\n  margin-top: 16px;\n  padding: 11px 13px;\n\n  border-radius: 8px;\n\n  background-color:\n    rgba(128, 128, 128, 0.08);\n\n  font-size: 0.86rem;\n}\n\n/* Critical alert */\n\n.route-critical-alert {\n  margin-top: 18px;\n  padding: 16px;\n\n  color: rgb(127, 16, 16);\n  background-color: rgba(244, 67, 54, 0.14);\n\n  border:\n    1px solid rgba(198, 40, 40, 0.50);\n\n  border-radius: 10px;\n}\n\n.route-critical-header {\n  display: flex;\n  align-items: center;\n  gap: 12px;\n}\n\n.route-critical-icon {\n  width: 40px;\n  height: 40px;\n  min-width: 40px;\n\n  display: flex;\n  align-items: center;\n  justify-content: center;\n\n  color: rgb(255, 255, 255);\n  background-color: rgb(198, 40, 40);\n\n  border-radius: 50%;\n\n  font-size: 1.35rem;\n  font-weight: 800;\n}\n\n.route-critical-title {\n  font-size: 0.88rem;\n  font-weight: 800;\n  letter-spacing: 0.04rem;\n}\n\n.route-critical-message {\n  margin-top: 3px;\n\n  font-size: 0.86rem;\n  line-height: 1.4;\n}\n\n.route-critical-details {\n  display: flex;\n  flex-wrap: wrap;\n  gap: 8px;\n\n  margin-top: 14px;\n}\n\n.route-critical-details span {\n  padding: 6px 11px;\n\n  background-color:\n    rgba(255, 255, 255, 0.30);\n\n  border: 1px solid rgb(198, 40, 40);\n  border-radius: 999px;\n\n  font-size: 0.78rem;\n  font-weight: 700;\n}\n\n.route-critical-instruction {\n  margin-top: 14px;\n  padding-top: 12px;\n\n  border-top:\n    1px solid rgba(198, 40, 40, 0.30);\n\n  font-size: 0.86rem;\n  font-weight: 700;\n}\n\n/* Mobile */\n\n@media (max-width: 700px) {\n  .route-card {\n    width: calc(100% - 20px);\n\n    margin: 12px auto;\n    padding: 16px;\n  }\n\n  .route-card-header {\n    flex-direction: column;\n  }\n\n  .route-information-row {\n    align-items: flex-start;\n    flex-direction: column;\n\n    gap: 3px;\n  }\n\n  .route-value {\n    text-align: left;\n  }\n\n  .route-critical-header {\n    align-items: flex-start;\n  }\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 790,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b06120ee1e0e1ce0",
        "type": "ui-table",
        "z": "e36b668a12db8bb5",
        "group": "a20ac7b9301c957f",
        "name": "Route History Table",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Route",
                "key": "name",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "State",
                "key": "state",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Stops",
                "key": "stops",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Occupied seats",
                "key": "seats_occupied",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Block alert",
                "key": "alert_status",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Date and Time",
                "key": "datetime",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Timestamp (epochs)",
                "key": "ts",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "history-table-card",
        "x": 1090,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "db3c6faa23159a73",
        "type": "ui-notification",
        "z": "e36b668a12db8bb5",
        "ui": "25a105596d9fada6",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "0",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Dismiss",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": true,
        "className": "safety-notification",
        "name": "Route Safety Alert",
        "x": 790,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "2ccdc69c7fda29e9",
        "type": "function",
        "z": "e36b668a12db8bb5",
        "name": "Store Unique Route History",
        "func": "const MAX_HISTORY = 200;\nconst data = msg.payload;\n\nif (\n  !data ||\n  typeof data !== \"object\" ||\n  !data.name ||\n  data.stops === undefined ||\n  data.seats_occupied === undefined ||\n  data.ts === undefined ||\n  !data.state ||\n  data.block_alert === undefined\n) {\n  node.warn(\"Invalid route message\");\n  return null;\n}\n\nconst routeName = String(data.name);\nconst stops = Number(data.stops);\nconst occupiedSeats = Number(data.seats_occupied);\nconst timestamp = Number(data.ts);\nconst routeState = String(data.state);\n\nconst blockAlert =\n  data.block_alert === true ||\n  String(data.block_alert).toLowerCase() === \"true\";\n\nif (\n  !Number.isFinite(stops) ||\n  !Number.isFinite(occupiedSeats) ||\n  !Number.isFinite(timestamp)\n) {\n  node.warn(\"Invalid numeric values in route message\");\n  return null;\n}\n\n/*\n * Identificador único do evento.\n *\n * Mantém o timestamp porque duas mensagens diferentes da rota\n * representam eventos diferentes no histórico.\n */\nconst eventKey = [\n  routeName,\n  String(timestamp),\n  routeState,\n  String(stops),\n  String(occupiedSeats),\n  blockAlert ? \"1\" : \"0\"\n].join(\"|\");\n\nlet history = flow.get(\"routeHistory\") || [];\nlet registeredEvents =\n  flow.get(\"registeredRouteEvents\") || {};\n\nif (!Array.isArray(history)) {\n  history = [];\n}\n\nif (\n  !registeredEvents ||\n  typeof registeredEvents !== \"object\" ||\n  Array.isArray(registeredEvents)\n) {\n  registeredEvents = {};\n}\n\n/*\n * Também verifica o próprio histórico para oferecer\n * compatibilidade com registros armazenados anteriormente.\n */\nconst alreadyInHistory = history.some(item =>\n  item.event_id === eventKey\n);\n\nif (registeredEvents[eventKey] || alreadyInHistory) {\n  node.warn(`Duplicate route message ignored: ${eventKey}`);\n  return null;\n}\n\n/*\n * O timestamp da rota já está em milissegundos.\n * A verificação também suporta timestamps em segundos.\n */\nconst epochMs =\n  timestamp < 1000000000000\n    ? timestamp * 1000\n    : timestamp;\n\nconst formattedDate = new Intl.DateTimeFormat(\n  \"pt-BR\",\n  {\n    timeZone: \"America/Sao_Paulo\",\n    day: \"2-digit\",\n    month: \"2-digit\",\n    year: \"numeric\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    second: \"2-digit\",\n    hour12: false\n  }\n).format(new Date(epochMs));\n\nconst historyItem = {\n  event_id: eventKey,\n  name: routeName,\n  state: routeState,\n  stops,\n  seats_occupied: occupiedSeats,\n  block_alert: blockAlert,\n  alert_status: blockAlert ? \"ACTIVE\" : \"CLEAR\",\n  ts: timestamp,\n  datetime: formattedDate\n};\n\nhistory.push(historyItem);\nregisteredEvents[eventKey] = true;\n\n/*\n * Registros mais recentes primeiro.\n */\nhistory.sort((first, second) =>\n  Number(second.ts) - Number(first.ts)\n);\n\nhistory = history.slice(0, MAX_HISTORY);\n\nflow.set(\"routeHistory\", history);\nflow.set(\n  \"registeredRouteEvents\",\n  registeredEvents\n);\n\n/*\n * Envia sempre o histórico completo.\n */\nmsg.topic = \"route-history\";\nmsg.payload = history;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 580,
        "wires": [
            [
                "2d30cfc999c2c139"
            ]
        ]
    },
    {
        "id": "2d30cfc999c2c139",
        "type": "function",
        "z": "e36b668a12db8bb5",
        "name": "Format Route History Table",
        "func": "if (!Array.isArray(msg.payload)) {\n  node.warn(\"Route history payload must be an array\");\n  return null;\n}\n\nmsg.payload = msg.payload.map(item => ({\n  name: String(item.name),\n  state: String(item.state),\n  stops: Number(item.stops),\n  seats_occupied: Number(item.seats_occupied),\n  alert_status: String(item.alert_status),\n  datetime: String(item.datetime),\n  ts: Number(item.ts)\n}));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 580,
        "wires": [
            [
                "b06120ee1e0e1ce0"
            ]
        ]
    }
]